/* RESET */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
a {
	text-decoration: none;
}

* {
	box-sizing: border-box;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}

body {
	width: 100%;
	overflow-x: hidden;
	max-width: 100vw;
	font-family: Arial, Helvetica, sans-serif;
	min-height: 100vh;
	color: white;
	font-family: 'Lato', sans-serif;
	background-attachment: fixed;
	background-color: blueviolet;
	background: linear-gradient(0deg, rgba(183,125,193,1) 0%, rgba(138,43,226,1) 100%);
}

.navibar {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	height: 10vh;
	width: 100%;
	position: fixed;
	padding: 20px;
	background-color: black;
	z-index: 5;
}
.navibar__home-link {
	margin-right: auto;
	color: white;
}
.navibar__list {
	display: flex;
	flex-direction: row;
}
.navibar__list__item {
	margin: 0px 10px;
}
.navibar__list__item__link {
	color: white;
	font-weight: 700;
}

.content {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	max-width: 60%;
	margin: 0 auto;
}

.presentacion {
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	position: relative;
}

.presentacion__arrow-down {
	position: absolute;
	bottom: 20px;
	transition: 1.5s;
}
.presentacion__title {
	font-weight: 700;
	font-size: 4em;
	line-height: 2em;
}
.presentacion__subtitle {
	font-size: 2em;
	margin-bottom: 30px;
}

.descripcion__p {
	text-align: center;
	font-size: 1.2em;
	margin-bottom: 20px;
}

.descripcion {
	padding: 60px 0px;
}

a:hover {
	color: blueviolet;
}

.grow:hover { transform: scale(1.5); }
.point:hover { cursor: pointer;}