<<<<<<< HEAD
* {
  box-sizing: border-box;
  max-width: 540px;
}

form {
  margin-top: 5em;
  width: 100%;
}

nav {
  margin-top: 1em;
}

.btn-primary {
  margin-top: 1em;
}

.fp {
  margin-left: 130px;
=======
* {
  box-sizing: border-box;
  max-width: 540px;
}

form {
  margin-top: 5em;
  width: 100%;
}

nav {
  margin-top: 1em;
}

.btn-primary {
  margin-top: 1em;
}

.fp {
  margin-left: 130px;
>>>>>>> 013712fb6e9612ea334f03d4212f0d292a97248e
}